.girdCustom_1{
    display: grid;
    grid-template-columns: 800px 1fr;
    gap: .5rem;
}

.girdCustom_2{
    display: grid;
    grid-template-columns: 40px 2fr 50px 1fr;
    gap: .5rem;
}

.girdCustom_3{
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: .5rem;
}

a{
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: .5rem;
    font-size: 1rem;
    transition: 200ms ease-in-out;
}

a:hover{
    color: #fff;
    background-color: #000;
    transition: 200ms ease-in-out;
}

button{
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: .5rem;
    font-size: 1rem;
    font-weight: normal;
    transition: 200ms ease-in-out;
}

button:hover{
    color: #fff;
    background-color: #000;
    transition: 200ms ease-in-out;
}

.hoverNon:hover{
    color: #000;
    background-color: #fff;
    transition: 200ms ease-in-out;
}

.LightMode > span{
    border: 1px solid #000;
    background-color: #fff;
}

.DarkMode > span{
    border: 1px solid #222;
    background-color: #000;
}

h2{
    border-bottom: 2px solid #000;
    padding: 10px 0px;
    margin: 0px .5rem 0px 0px;
}

.noteTarget{
    display: none;
    background-color: #000;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    transition: 200ms ease-in-out;
}

.note{
    display: block;
}

.show{
    display: none;
}














@media only screen and (max-width: 1100px) {
    .dontShow {
        display: none;
    }
    .show{
        display: block;
        padding: 1rem;
        font-weight: bold;
        text-decoration: none;
    }
}